# ------------------------------------------------------------------------------
# Filename: MANIFEST.in                                            /          \
# Project : Installerator                                         |     ()     |
# Date    : 10/28/2022                                            |            |
# Author  : cyclopticnerve                                        |   \____/   |
# License : WTFPLv2                                                \          /
# ------------------------------------------------------------------------------

# -)
